.u-section-1 {min-height: 100vh}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 838px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {width: 255px; height: 268px; margin: 152px 46px 0 auto}
.u-section-1 .u-image-2 {width: 1039px; height: 363px; margin: -31px auto 0 141px}
.u-section-1 .u-text-1 {font-size: 8rem; font-weight: 400; margin: -752px 11px 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 82px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 691px}
.u-section-1 .u-image-1 {width: 202px; height: 212px; margin-top: 95px; margin-right: 33px}
.u-section-1 .u-image-2 {width: 824px; height: 299px; margin-top: 19px; margin-left: auto}
.u-section-1 .u-text-1 {font-size: 5rem; width: auto; margin-top: -541px; margin-right: -30px; margin-left: 28px} }

@media (max-width: 991px){ .u-section-1 {min-height: 492px}
.u-section-1 .u-layout-wrap-1 {margin-top: -71px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 563px}
.u-section-1 .u-image-1 {width: 113px; height: 119px; margin-right: 54px}
.u-section-1 .u-image-2 {width: 631px; height: 229px; margin-top: 65px; margin-left: 47px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: -390px; margin-right: 47px; margin-left: 18px} }

@media (max-width: 767px){ .u-section-1 {min-height: 499px}
.u-section-1 .u-layout-cell-1 {min-height: 570px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {width: 137px; height: 144px; margin-top: 79px; margin-right: 58px}
.u-section-1 .u-image-2 {width: 505px; height: 176px; margin-top: 55px; margin-left: 58px}
.u-section-1 .u-text-1 {margin-top: -368px; margin-right: -10px; margin-left: 59px} }

@media (max-width: 575px){ .u-section-1 {min-height: 429px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 340px) / 2) + 382px); margin-top: -42px; margin-right: 0; margin-left: auto}
.u-section-1 .u-layout-cell-1 {min-height: 471px}
.u-section-1 .u-container-layout-1 {padding-top: 41px}
.u-section-1 .u-image-1 {margin-top: 175px; margin-right: auto}
.u-section-1 .u-image-2 {width: 320px; height: 112px; margin-top: -21px; margin-left: auto}
.u-section-1 .u-text-1 {font-size: 3.125rem; margin-top: -378px; margin-left: 16px; margin-right: 16px; width: NaNpx} }.u-section-2 {min-height: 100vh}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-image-1 {min-height: 838px; background-image: url("images/Shape11.png")}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 8rem; font-weight: 400; width: 830px; margin: 127px auto 0}
.u-section-2 .u-image-2 {width: 660px; height: 380px; margin: 30px auto 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 82px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 691px}
.u-section-2 .u-text-1 {width: 766px; margin-top: 74px}
.u-section-2 .u-image-2 {width: 544px; height: 313px; margin-top: 83px} }

@media (max-width: 991px){ .u-section-2 {min-height: 63px}
.u-section-2 .u-image-1 {min-height: 492px}
.u-section-2 .u-text-1 {font-size: 6rem; width: 587px}
.u-section-2 .u-image-2 {width: 417px; height: 240px} }

@media (max-width: 767px){ .u-section-2 {min-height: 520px}
.u-section-2 .u-image-1 {min-height: 520px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 4.5rem; width: 540px}
.u-section-2 .u-image-2 {width: 391px; height: 225px} }

@media (max-width: 575px){ .u-section-2 {min-height: 374px}
.u-section-2 .u-image-1 {min-height: 374px}
.u-section-2 .u-container-layout-1 {padding-top: 28px}
.u-section-2 .u-text-1 {font-size: 3rem; margin-top: 0; margin-left: 18px; margin-right: 18px; width: auto}
.u-section-2 .u-image-2 {width: 317px; height: 183px; margin-top: 32px} }.u-section-3 {min-height: 1308px}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 1308px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-size: 6rem; font-weight: 400; letter-spacing: normal; margin: -8px 172px 0}
.u-section-3 .u-image-1 {width: 500px; height: 376px; margin: 88px 101px 0 auto}
.u-section-3 .u-image-2 {width: 731px; height: 786px; margin: -185px auto 0 146px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 1078px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 1078px}
.u-section-3 .u-text-1 {font-size: 5rem; margin-top: 0; margin-left: -9px; margin-right: -9px}
.u-section-3 .u-image-1 {width: 413px; height: 310px; margin-top: 571px; margin-right: 102px}
.u-section-3 .u-image-2 {width: 603px; height: 648px; margin-top: -893px; margin-bottom: 245px; margin-left: 102px} }

@media (max-width: 991px){ .u-section-3 {min-height: 876px}
.u-section-3 .u-layout-cell-1 {min-height: 876px}
.u-section-3 .u-text-1 {font-size: 3.75rem; margin-top: -21px; margin-left: -34px; margin-right: -34px}
.u-section-3 .u-image-1 {width: 316px; height: 238px; margin-top: 503px; margin-right: 78px}
.u-section-3 .u-image-2 {width: 460px; height: 494px; margin-top: -741px; margin-bottom: 0; margin-left: 78px} }

@media (max-width: 767px){ .u-section-3 {min-height: 520px}
.u-section-3 .u-layout-cell-1 {min-height: 837px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {font-size: 3.125rem; margin-right: -29px; margin-left: -23px}
.u-section-3 .u-image-1 {width: 296px; height: 223px; margin-top: 487px; margin-right: 59px}
.u-section-3 .u-image-2 {width: 431px; height: 464px; margin-top: -710px; margin-left: 59px} }

@media (max-width: 575px){ .u-section-3 {min-height: 688px}
.u-section-3 .u-layout-cell-1 {min-height: 688px}
.u-section-3 .u-container-layout-1 {padding-right: 49px; padding-left: 50px}
.u-section-3 .u-text-1 {font-size: 1.875rem; letter-spacing: 0; margin-top: 0; margin-left: -60px; margin-right: -60px}
.u-section-3 .u-image-1 {width: 265px; height: 199px; margin-top: 371px; margin-right: auto}
.u-section-3 .u-image-2 {width: 286px; height: 307px; margin-top: -530px; margin-left: auto} }.u-section-4 {min-height: 894px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 894px}
.u-section-4 .u-container-layout-1 {padding: 30px 30px 0}
.u-section-4 .u-image-1 {width: 927px; height: 566px; margin: 277px auto 0}
.u-section-4 .u-text-1 {font-size: 8rem; font-weight: 400; width: 830px; margin: -823px auto 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 814px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 814px}
.u-section-4 .u-image-1 {width: 764px; height: 467px}
.u-section-4 .u-text-1 {width: 696px; margin-top: -727px} }

@media (max-width: 991px){ .u-section-4 {min-height: 623px}
.u-section-4 .u-layout-cell-1 {min-height: 703px}
.u-section-4 .u-image-1 {width: 585px; height: 357px}
.u-section-4 .u-text-1 {font-size: 5rem; width: 545px; margin-top: -606px} }

@media (max-width: 767px){ .u-section-4 {min-height: 473px}
.u-section-4 .u-layout-cell-1 {min-height: 616px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-1 {width: 540px; height: 335px; margin-top: 182px; margin-right: 37px}
.u-section-4 .u-text-1 {width: auto; margin-top: -500px; margin-right: 37px; margin-left: 52px} }

@media (max-width: 575px){ .u-section-4 {min-height: 401px}
.u-section-4 .u-layout-cell-1 {min-height: 409px}
.u-section-4 .u-image-1 {width: 317px; height: 194px; margin-top: 131px; margin-right: auto}
.u-section-4 .u-text-1 {font-size: 3.75rem; width: 328px; margin-top: -339px; margin-left: auto; margin-right: auto} }.u-section-5 {min-height: 871px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-image-1 {min-height: 871px; background-image: url("images/Shape2.png")}
.u-section-5 .u-container-layout-1 {padding: 30px 30px 0}
.u-section-5 .u-text-1 {font-size: 4.5rem; font-weight: 400; margin: 52px 117px 0}
.u-section-5 .u-image-2 {width: 650px; height: 687px; margin: 61px auto 0} 

@media (max-width: 1199px){ .u-section-5 {min-height: 718px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 718px}
.u-section-5 .u-container-layout-1 {padding-right: 29px}
.u-section-5 .u-text-1 {margin-left: 96px; margin-right: 96px}
.u-section-5 .u-image-2 {width: 536px; height: 566px} }

@media (max-width: 991px){ .u-section-5 {min-height: 550px}
.u-section-5 .u-image-1 {min-height: 561px}
.u-section-5 .u-text-1 {margin-left: 50px; margin-right: 50px}
.u-section-5 .u-image-2 {width: 411px; height: 434px} }

@media (max-width: 767px){ .u-section-5 {min-height: 473px}
.u-section-5 .u-image-1 {min-height: 472px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {font-size: 1.875rem; margin-left: 37px; margin-right: 37px}
.u-section-5 .u-image-2 {width: 385px; height: 407px} }

@media (max-width: 575px){ .u-section-5 {min-height: 415px}
.u-section-5 .u-image-1 {min-height: 415px}
.u-section-5 .u-text-1 {margin-top: 25px; margin-left: 23px; margin-right: 23px}
.u-section-5 .u-image-2 {width: 314px; height: 331px; margin-top: 19px} }.u-section-6 {min-height: 847px; background-image: url("images/specsbg.jpg"); background-position: 50% 50%}
.u-section-6 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 847px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {font-size: 1.25rem; font-weight: 400; margin: 10px 189px 0} 

@media (max-width: 1199px){ .u-section-6 {min-height: 698px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 698px}
.u-section-6 .u-text-1 {width: 523px; margin-top: 3px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-6 {min-height: 535px}
.u-section-6 .u-layout-cell-1 {min-height: 535px}
.u-section-6 .u-text-1 {width: 529px} }

@media (max-width: 767px){ .u-section-6 {min-height: 100px}
.u-section-6 .u-layout-cell-1 {min-height: 401px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {margin-top: 1px; margin-left: 49px; margin-right: 49px; width: 176px} }

@media (max-width: 575px){ .u-section-6 .u-layout-cell-1 {min-height: 252px}
.u-section-6 .u-container-layout-1 {padding-right: 49px; padding-left: 53px}
.u-section-6 .u-text-1 {font-size: 0.75rem; width: auto; margin-top: 0; margin-right: 11px; margin-left: 6px} }